@page "/"

<div class="row"
    <div class="col-6">
        <CodingSimplified.ToDoApplication.Pages.Components.Todo HeaderName="Daily Task"> 

        </CodingSimplified.ToDoApplication.Pages.Components.Todo>
    </div>

    <div class="col-6">
        <CodingSimplified.ToDoApplication.Pages.Components.Todo HeaderName="Monthly Task">

        </CodingSimplified.ToDoApplication.Pages.Components.Todo>
    </div>
</div>